In [ ]:
import this

#NOTEPAD №1

##WORK PURPOSE

Performed by a student of the group PI/b-18-1-o ***Rodion Borodin***

In [1]:
4*7#multiple

28

In [2]:
3*(2+5)#multiple and adding

21

In [3]:
5^3#what will happen

6

In [4]:
5**3#degree

125

In [5]:
12/3#division

4.0

In [6]:
3//#division

1

In [7]:
sqrt(4)#square root of 4

NameError: name 'sqrt' is not defined

In [8]:
import math #square root of 4
math.sqrt(4)

2.0

In [9]:
math.sin(0)

0.0

In [10]:
from math import sqrt,sin

In [11]:
sqrt(4)

2.0

In [12]:
sin(0)

0.0

In [13]:
from math import pi,sin

In [14]:
sin(pi)

1.2246467991473532e-16

In [16]:
x=4#Variables, assignment
x

4

In [17]:
x+2# output

6

In [20]:
x=x+2#assigning
x

8

In [21]:
x=input("Some number :")#output a string multiple times
print(x*2)

Some number :55
5555

In [22]:
x#string type

'55'

In [23]:
int(x)#int(x)

55

In [26]:
x_str=input("Input some number:")
x=int(x_str)
print(x*2)

Input some number:210
420

In [25]:
x=int(input("Input some number"))#increases the entered number by 2 times, entering an integer
print(x*2)

Input some number222
444

In [24]:
x = float(input("Input some number :")) 
print(x*2)

Input some number :777
1554.0

In [2]:
x='210'#output a number
x=int(x)
x

210

In [4]:
x=float(input("Some number :"))#Enter any number and multiply
print(x*2)

Some number :1.2
2.4

In [9]:
numbers=[4,8,9,2,6]

In [10]:
numbers

[4, 8, 9, 2, 6]

In [11]:
strings=["Hello","Word","Test"]#list

In [12]:
mixed_list=["Hello",6,7,8]

In [13]:
print(numbers)
print(numbers[1])

[4, 8, 9, 2, 6]
8

In [14]:
print(mixed_list)
print(mixed_list[2]+4)

['Hello', 6, 7, 8]
11

In [15]:
numbers# changing list items

[4, 8, 9, 2, 6]

In [16]:
numbers[1]=222
numbers

[4, 222, 9, 2, 6]

In [17]:
len(numbers)

5

In [18]:
numbers=[4,8,2,5]
numbers[-1]

5

In [39]:
numbers[-2]

12

In [42]:
numbers=[7,6,2]
print(numbers)
numbers.append(777)
print(numbers)

[7, 6, 2]
[7, 6, 2, 777]

In [43]:
print(numbers)#list changing
numbers.extend([3,7,5])
print(numbers)

[7, 6, 2, 777]
[7, 6, 2, 777, 3, 7, 5]

In [2]:
first_list=[5,8,2]
second_list=[1,9,4]
new_list=first_list + second_list
print(new_list)

[5, 8, 2, 1, 9, 4]

In [3]:
numbers = [7,6,2]
print(numbers)
numbers.append(777)
print(numbers)

[7, 6, 2]
[7, 6, 2, 777]

In [4]:
print(numbers)#list
numbers = numbers + [2,6,9]
print(numbers)

[7, 6, 2, 777]
[7, 6, 2, 777, 2, 6, 9]

 **SLICES**

In [44]:
print(numbers[7:])
print(numbers[:7])
print(number[:])

[]
[7, 6, 2, 777, 3, 7, 5]
[4, 9, 1, 5]

In [17]:
#you can use slices for assignment
numbers = [5,8,9,10]
print(numbers[1:3])
numbers[1:3]=[55,77]
print(numbers)
#it is not necessary that the list that we assign to the slice has the same length as the slice
#you can use slices to insert several items inside the list(for a single method, you can use insert)

[8, 9]
[5, 55, 77, 10]

In [19]:
#delete list items or slices using the del command
numbers=[6,7,9,12,8,3]
del(numbers[4])#delete 8
print(numbers)
del(numbers[0:2])
print(numbers)

[6, 7, 9, 12, 3]
[9, 12, 3]

**ASSIGN AND COPYING LISTS**

In [30]:
first_list = [5,8,9,'Hello']
second_list = first_list

In [31]:
first_list

[5, 8, 9, 'Hello']

In [32]:
second_list

[5, 8, 9, 'Hello']

In [33]:
#change one list
second_list[0] = 777
second_list

[777, 8, 9, 'Hello']

In [34]:
first_list

[777, 8, 9, 'Hello']

In [35]:
# method copy() - if we want create new list,in other words, copy an existing one, then use the 
first_list=[6,9,2,5]
third_list = first_list.copy()
print(third_list)
third_list[0] = 100
print(third_list)
print(first_list)
#first_list and third_list now independent

[6, 9, 2, 5]
[100, 9, 2, 5]
[6, 9, 2, 5]

In [36]:
first_list=[6,9,2,5]
other_list = first_list[:]#slice,the beginning coincides with the beginning of the source list,and end - end

**FOR**

In [37]:
number = [4,9,1,5]
for x in numbers:
    y = x+1
    print(y)
print("That's all")
print(numbers)

10
13
4
That's all
[9, 12, 3]

In [38]:
#object range()- code execution several times, how many times in advance is unknown
for i in range(5):
    print("Hello,i=",i)
#you can also range transform it into a list using the list command

Hello,i= 0
Hello,i= 1
Hello,i= 2
Hello,i= 3
Hello,i= 4

In [39]:
list(range(5))#range(n)- as a list containing integers from 0 to n-1(the last element is not included)

[0, 1, 2, 3, 4]

In [40]:
list(range(3,9))#using range with two arguments-specify the beginning and end of the range interval

[3, 4, 5, 6, 7, 8]

**LIST INPUT AND OUTPUT**

**Transformation a string into a list**

In [41]:
s ="hello word   this is    a\ntest"#string from words with spaces
print(s)
#spaces-separator

hello word   this is    a
test

In [42]:
s.split()#getting a list consisting of words that are included in this string
         #method split() does not change string

['hello', 'word', 'this', 'is', 'a', 'test']

In [43]:
s="hello word   this is    a\ntest"
s.split()
print(s)

hello word   this is    a
test

In [44]:
#save result
words =s.split()
# the result s.sp;it() is saved in the words variable
for word in words:
    print(word)

hello
word
this
is
a
test

The split() method has an optional separator parameter.If it is specified, the string is split by the separator that is passed to it

In [45]:
s.split("    ")#separator = 4 spaces

['hello word   this is', 'a\ntest']

Enter several numbers separated by commas and output each of them increased by 1.

In [47]:
s=input("Enter some numbers separated by commas : ")
elements = s.split(",")
for n in elements:
    n = int(n)
    print(n+1)

Enter some numbers separated by commas : 1,7
2
8

**OUTPUT A LIST TO A STRING**

In [31]:
elements = ["one","two","three"]#list items in parentheses,each line in quotation marks
print(elements)

['one', 'two', 'three']

In [32]:
for el in elements:
    print(el)
#output in a column, because print () adds a newline character \n  at the end of each line by default

one
two
three

Method join()

In [33]:
print(" ".join(elements))#output without quotation marks

one two three

In [34]:
print(":".join(elements))#output to a string separated by a colon

one:two:three

In [35]:
print("----".join(elements))

one----two----three

In [48]:
print(numbers)#print in square brackets, separated by commas

[9, 12, 3]

In [50]:
print(numbers[0],numbers[1],numbers[2])#print without brackets and separated by a space

9 12 3

In [21]:
print(*numbers)

9 12 3

**(*) Removes square brackets around list items**

In [2]:
print(*[5,8,9,11,"Hello"])

5 8 9 11 Hello

In [3]:
print(5,8,9,11,"Hello")#list of numbers and string

5 8 9 11 Hello

In [20]:
print(*numbers,sep=', ')

9, 12, 3

**STRINGS AND SLICES**

**Strings can behave like lists.For example,we can access individual elements of strings or slices to do**

In [9]:
s="This is a test"

In [10]:
s[6]

's'

In [11]:
s[5]

'i'

In [12]:
s[3:8]

's is '

**ALGORITHMS WITH LOOPS**

**Example of an algorithm using a loop**

**Performing initialization - setting the initial values of variables that we will need later**

**We write the values of the first two Fibonacci numbers;we write them to variables a and b and then store the two found Fibonacci numbers needed to find the next number.**

In [14]:
#initialization(performed only once at the beginning of the algorithm)
a=1#first number
b=1#second number

**Then we write the code and go to the next number.We execute it several times,getting a new Fibonacci number**

In [22]:
c=a+b
a=b
b=c
print(b)

2

In [23]:
#initialization(executed only once at the beginning of the algorithm)
a=1
b=1
for i in range(10):
    #body loop:will be executed 10 times
    c=a+b
    a=b
    b=c
    print(i,c)

0 2
1 3
2 5
3 8
4 13
5 21
6 34
7 55
8 89
9 144

In [2]:
a = 1 # first number 
b = 1 # second number
fib = []
# create enpty list fib 
for i in range(25):   
    c = a + b   
    a = b    
    b = c    
    fib.append(b) # wrote an element to the end of the fib list   
    
print(fib)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418]

**THE TEST CONDITIONS**

In [3]:
6<8#we asks - is it true that 6 is less than 8?.

True

In [4]:
8>9

False

In [5]:
condition =6<8#writing the test result to a variable

In [6]:
condition

True

In [7]:
type(condition)#the condition variable is now bool

bool

In [8]:
7==7#Is it true that 7 is equal to 7?

True

In [9]:
a=5

In [10]:
a=7

In [11]:
a==5 #false

False

In [12]:
7==7.0 #true

True

**OPERATOR IF**

In [14]:
a=int(input("Enter a positive number:"))
if a < 0:
    print("Error!")
    print("Number is not positive!")
print("You entered",a)

Enter a positive number:4
You entered 4

In [16]:
a=int(input("Enter a positive number:"))
if a < 0:
    print("Error!")
    print("Number is not positive!")
else:
    print("Very good!")
    print("You entered positive number!")
print("You entered",a)

Enter a positive number:-1
Error!
Number is not positive!
You entered -1

In [17]:
a = int(input("Enter some number:"))
if a>100:
    print("This is very big number")
elif a>10:
    print("This is a larger number")
else:
    print("This is a small number")

Enter some number:100
This is a larger number

**DIFFICULT CONDITIONS**

In [20]:
a = int(input("Please enter a number from 0 to 100: ")) 
if a <= 100: 
    if a >= 0: 
        print("Thank you, I like your number") 
    else: 
        print("You made a mistake, it's not a number from 0 to 100") 
else: 
    print("You made a mistake, it's not a number from 0 to 100")

Please enter a number from 0 to 100: 1
Thank you, I like your number

In [23]:
a = int(input("Please enter a number from 0 to 100: ")) 
if a <= 100 and a >= 0: #and - logical And operation.If the left AND argument turns out to be false, the right one is not even evaluated
    print("Thank you, I like your number") 
else: 
    print("You made a mistake, this is not a number from 0 to 100")

Please enter a number from 0 to 100: 1
Thank you, I like your number

In [25]:
a = int(input("Please enter a number from 0 to 100: ")) 
if a <= 100 and a >= 0: #or - logical Or operation.Is true if at least one argument is true
    print("Thank you, I like your number") 
else: 
    print("You made a mistake, this is not a number from 0 to 100")

Please enter a number from 0 to 100: 20
Thank you, I like your number

In [26]:
a = int(input("Please enter a number from 0 to 100: ")) 
if not(a <= 100 and a >= 0): #analog Or
    print("Thank you, I like your number") 
else: 
    print("You made a mistake, this is not a number from 0 to 100")

Please enter a number from 0 to 100: 5
You made a mistake, this is not a number from 0 to 100

In [27]:
True or False

True

In [28]:
False and True

False

In [29]:
#To be or not to be?
to_be = False 
to_be or not to_be

True

**THE WHILE LOOP**

In [30]:
a = int(input("Enter a number from 0 to 100: ")) 
while a>100 or a<0:
    print("invalid! This is not a number from 0 to 100") 
    a = int(input("Enter a number from 0 to 100: ")) 
print("All right")

Enter a number from 0 to 100: 2
All right

In [31]:
#check password 
correct_passwd = ';ugliugliug' 
passwd = input("Please, enter password: ") 
while passwd != correct_passwd:    
    print("Access denied")    
    passwd = input("Please, enter password: ")
print("Access granted")

Please, enter password: рр
Access denied
Please, enter password: ;ugliugliug
Access granted

In [32]:
correct_passwd = ';ugliugliug' 
while True: #perpetual cycle   
    passwd = input("Please, enter password: ")    
    if passwd == correct_passwd:        
        print("Access granted")       
        break  #exit from perpetual cycle  
    else:        
        print("Access denied")

Please, enter password: ;ugliugliug
Access granted

In [33]:
numbers = [6, 8, 9, 6, -7, 9] 
for i in numbers:    
    if i<0:        
        print("Negative number detected!!!!111111odin")       
        break    
    print(i+1)

7
9
10
7
Negative number detected!!!!111111odin

**NUMBERING OF LIST ITEMS**

In [34]:
numbers = [7, 8, 9, 43] 
i = 0 # the index will be stored here
for n in numbers :
    print(i, n) 
    i += 1 
    # this line is equivalent to i = i + 1

0 7
1 8
2 9
3 43

In [35]:
#another option
numbers = [7, 8, 9, 43] 
for i in range(len(numbers)):   
    print (i, numbers[i])

0 7
1 8
2 9
3 43

In [36]:
#the correct option
numbers = [7, 8, 9, 43] 
for i, n in enumerate(numbers, 2):   
    print(i,n)

2 7
3 8
4 9
5 43

In [37]:
enum = list(enumerate(numbers))

In [38]:
enum

[(0, 7), (1, 8), (2, 9), (3, 43)]

In [39]:
a, b = (7, 9)

In [40]:
print(a) 
print(b)

7
9

In [41]:
#the assignment is done step by step
a, b, c = (1, 2, 3) 
print(c)

3

In [42]:
enum[0]

(0, 7)

In [44]:
i, n = enum[0]

**EXAMPLE OF A FUNCTION DEFINITION**

In [46]:
from math import sqrt 
sqrt(25)+sqrt(9)

8.0

In [48]:
#calculating the factorial
n = 5 
f = 1 
for i in range(2, n+1):   
    f = f * i    # the equivalent syntax: f *= i 
print(f) #print(f)

120

In [49]:
#function that calculates the factorial
def factorial(n):   
    f = 1    
    for i in range(2, n+1):       
        f = f * i    
    return f

In [50]:
#calling the factorial function , passing it the parameter
factorial(6)

720

In [51]:
factorial(5)+factorial(6)

840

**RETURN VALUES**

In [61]:
print(s)

None

**A MORE COMPLEX SITUATION, WITH FUNCTIONS**

In [62]:
def new_say_hello(name):    
    print(hello(name))

In [67]:
#a function that calculates binomial coefficients
def binom(k, n):   
    """   
    calculates binomial coeffs: k from n   
    k, n are integers   
    retuns C_n^k  
    """   
    return factorial(n)//(factorial(k)*factorial(n-k)) 
#you can use integer division, since the result is guaranteed to be integer.

In [68]:
binom(2,3)

3

In [69]:
def my_abs(x):    
    if x > 0:        
        return x    
    else:        
        return -x

In [70]:
my_abs(-5)

5

In [71]:
def my_abs(x):    #function my_abs
    print("New my_abs")   
    # if a function with this name already exists, Python will forget about it and write a new function instead
    # to make sure I put this print here 
    if x > 0:        
        return x   
    return -x

In [72]:
my_abs(-6)

New my_abs

6

**LOCAL AND GLOBAL VARIABLES**

Various variables can be created and used within a function. To avoid problems, variables defined inside the function are not visible from the outside.

In [74]:
f = 10 
def factorial(n):    
    f = 1   
    for i in range(2, n+1):     
        f = f * i   
    print("In the function, f =", f)    
    return f 
f = 10 
print(f) 
print(factorial(8)) 
print("Out of function") 
print(f)

10
In the function, f = 40320
40320
Out of function
10

In [82]:
factorial(2)

UnboundLocalError: local variable 'f' referenced before assignment

By default, global variables are read-only, but not for modification from within the function

In [83]:
def set_lang():    
    useRussian = input("Would you like to speak Russian (Y/N): ")    
    if useRussian == 'Y':        
        lang = 'ru'    
    else:        
        lang = 'en'

In [84]:
lang = 'en' 
print(lang) 
set_lang() 
print(lang)

en
Would you like to speak Russian (Y/N): N
en

In [85]:
def set_lang():   
    global lang #explicit declaration   
    useRussian = input("Would you like to speak Russian (Y/N): ")   
    if useRussian == 'Y':       
        lang = 'ru'    #russian is language of Russia
    else:        
        lang = 'en' #english is language of GB

In [86]:
lang = 'en' 
print(lang) 
set_lang() 
print(lang)

en
Would you like to speak Russian (Y/N): Y
ru

**PASSING ARGUMENTS**

Arguments can be passed by specifying their names.

functions that accept an unlimited number of arguments

In [1]:
print(8, 7, 5, 'hello', 8)

8 7 5 hello 8

In [2]:
def my_print(*args):   
    for x in args:        
        print(x)

In [3]:
my_print(6, 8, 9, 'hello', 88, 55)

6
8
9
hello
88
55

In [5]:
def test(*args):    
    print(args) 
test(1,2,3, 'hello')
#args now contains a so-called tuple consisting of elements that we passed to the function.

(1, 2, 3, 'hello')

**RETREAT:TUPLES**

A tuple is almost the same as a list, only its elements are immutable. It is indicated by parentheses.

In [6]:
t = (2,3, 5, 1) 
print(t[1]) 
print(t[0:2])

3
(2, 3)

In [8]:
for x in t:    
    print(x)

2
3
5
1

In [9]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [10]:
t.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
t = (8, 1, 2, 3)

In [12]:
t

(8, 1, 2, 3)

In [13]:
#converting lists to tuples and on the contrary
print( list( (1, 2, 3) ) ) 
print( tuple( [1, 2, 3] ) )

[1, 2, 3]
(1, 2, 3)

**RETURNING TO THE FUNCTIONS**

The asterisk in the signature puts additional parentheses around the arguments.

In [15]:
#the following two calls produce the same results
def test1(*args): 
    print(args) 
test1(1, 2, 3) 

def test2(args):   
    print(args) 
test2( (1,2,3) )

(1, 2, 3)
(1, 2, 3)

You can combine list variables and regular variables (provided that there is only one variable with an asterisk):

In [16]:
def my_print(sep, *args):    
    for x in args:       
        print(x, end = sep)

In [17]:
my_print('----', 7, 8, 9, 'hello')

7----8----9----hello----

In [ ]:
#WORK IS OVER!!!